.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.BillItemName {
    float: left;
    margin: 0;
}

.BillItemCostAndDeleteBtn {
    float: right;
}

.BillItemDeleteBtn {
    border: none;
    background: transparent;
    font-size: 17px;
    padding-left: 11px;
}